body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Times New Roman", Times, serif;
  font-weight: 400;
  background-color: #F8F9FA;
  color: black;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav__logo {
  font-size: 1.2em;
  margin-left: 30px;
}
.nav__login {
  text-decoration: none;
  padding: 6px;
  background-color: #0D6EFD;
  color: white;
  border-radius: 5px;
}

.header {
  height: 400px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.35) 100%), url("image_mer.jpg");
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__titre {
  padding: 10px;
  font-size: 2.5em;
}
.header__email {
  background-color: #D9D9D9;
  color: black;
  padding: 5px;
  padding-left: 10px;
}
.header__email, .header__submit {
  border-radius: 8px;
  border-color: #dcdcdc;
  border: none;
  padding: 5px;
}
.header__submit {
  background-color: #0D6EFD;
  color: white;
}

.footer {
  background-color: #D9D9D9;
}
.footer__container {
  list-style: none;
  margin-left: -20px;
  color: #0D6EFD;
  padding: 15px;
}
.footer__liens {
  list-style: none;
}
.footer__liens a {
  color: #0D6EFD;
}
.footer__about, .footer__rights {
  margin-left: 11px;
}
.footer__contact::before, .footer__use::before, .footer__policy::before {
  content: "-";
  margin-right: 7px;
  visibility: hidden;
}
.footer__rights a {
  color: rgba(0, 0, 0, 0.5);
}
.footer__liens a, .footer__rights a {
  text-decoration: none;
}
.footer__site {
  margin-left: 40px;
}

@media screen and (min-width: 744px) {
  .footer {
    height: 110px;
  }
  .footer__liens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .footer__contact::before, .footer__use::before, .footer__policy::before {
    visibility: visible;
  }
}
.articles__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px;
}
.articles__container .article {
  margin: 0 auto;
  min-width: 300px;
  width: 30%;
}
.articles__container .fa-solid, .articles__container .fa-puzzle-piece {
  color: #0D6EFD;
}
.articles__container__titre {
  height: 35px;
  font-size: 26px;
}
.articles__container__text {
  height: 120px;
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  .articles-container {
    margin: 0 auto;
    max-width: 1440px;
  }
}
section {
  box-sizing: border-box;
  margin-bottom: 110px;
  margin-top: 80px;
}
section h2 {
  text-align: center;
  padding-top: 30px;
}
section hr {
  width: 60%;
  color: rgba(50, 50, 50, 0.28);
  box-shadow: 2px 2px 2px 1px;
}
section .form {
  width: 70%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 10px 10px 5px rgb(204, 204, 204);
  background-color: white;
}
section .form > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section .form__section {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
section .form__input {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  flex: 1;
  background-color: #F5F5F5;
  color: black;
}
section .form__input--textarea__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
}
section .form__input--textarea {
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
  padding: 8px 16px;
  background-color: #F5F5F5;
}
section ::placeholder {
  font-size: 13px;
  opacity: 0.3;
}
section .form__submit {
  width: fit-content;
  padding: 6px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0D6EFD;
  color: white;
}
section .error-message {
  color: rgb(195, 13, 13);
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
}

@media screen and (min-width: 744px) {
  .form {
    max-width: 660px;
    margin: 0 auto !important;
  }
  .form__section {
    flex-direction: row !important;
    justify-content: space-between;
    gap: 0 !important;
  }
  .form__input {
    max-height: 37px !important;
    flex: none;
  }
  ::placeholder {
    font-size: 15px !important;
  }
  .form__input--textarea {
    width: initial !important;
    font-size: 15px !important;
  }
}

/*# sourceMappingURL=style.css.map */
