.modal {
  display: none;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  
  
  .modal__content {
    width: 40%;
    margin: 15% auto;
    padding: 20px;
    background-color: #234e79;
    color: rgb(255, 255, 255);
    border: thick double #ffffff;
  }
  
    &__message {
      font-size: 30px;
      text-align: center;
      margin-top: 60px;
    }

    &__cocheVerte {
      font-size: 45px;
      text-align: center;
    }

    &__close-button {
    color: #a9a9a9;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    &__close-button:hover {
    color: black;
    cursor: pointer;
    }

}